<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div class="container nav-spacing">
  <nav class="navbar" data-navbar>
    <ul class="navbar-list">
      
    </ul>
  </nav>
</div>
<!--div class="cards-body">
  
  <a class="cards-brand" class="btn btn-success btn-sm me-2" href="/ajouter-produit">Ajouter Produit </a>
</div!-->
<div class="cards-list"> 
<div class="col-md-4" *ngFor="let produit of produit">
    
      <div class="card 0">
        <div class="card-image">
          <img [src]="produit.imageUrl" alt="{{ produit.id }}" (click)="openModal(produit)">
       </div>
       <div class="product-details">
         <h5>{{ produit.prix }}</h5>
         <p>{{ produit.description }}</p>
         
       
           <div class="button-group mt-2">
            <a [routerLink]="['/updatefautlist', produit.id]" >
                <i class="fa fa-edit" style="font-size:28px;color:rgb(9, 115, 18)"></i>
              </a>
            <button class="fa fa-trash-o" style="font-size:28px;color:red" (click)="deleteProduit(produit.id)"></button>
          </div>
       </div>
      </div>
   

      </div>

     
      
    </div>
    
   
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173039883-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-173039883-1');
    </script>

</html>
