
<!--div class="container mt-5 contact-background">
  
    <nav class="navbar navbar-dark custom-navbar fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CarteLine </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header  custom-text-color">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CarteLine</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body custom-body-color">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
             
              <li class="nav-item">
                <a class="nav-link active" class="btn dark" aria-current="page" href="/home">Home</a>
            
    
              <li class="nav-item">
                <a class="nav-link"  class="btn dark" href="/contact"> Contact</a>
              </li>
             
        
        
            </ul>
          
          </div>
        </div>
      </div>
    </nav>
    <h2 class="category-sec2">============================================================</h2>
    <h2 class="category-section-title">Découvrez avec notre site web les entreprise situe au maroc avec toute facile</h2>
</div>
<h2 class="category-sec2">============================================================</h2>
<div class="cate-card2">
    <h2 class="categtitle">Contacter nous pour une reclamation ou pour plus d'information</h2>
    <h2 class="categtitle">Email : CarteLine@gmail.com</h2>
    <h2 class="categtitle">Telephone : 05 . 45 . 65 .89 .24</h2>
</div!-->

    <!--div class="container" id="container">
        <h1 class="heading">Feedback UI</h1>
        <div class="ratings-container" id="ratings-container">
            <div class="rating">
                <img src="https://cdn-icons-png.flaticon.com/512/166/166527.png" />
                <small>Unhappy</small>
            </div>
            <div class="rating">
                <img src="https://cdn-icons-png.flaticon.com/512/1791/1791385.png" />
                <small>Neutral</small>
            </div>
            <div class="rating">
                <img src="https://cdn-icons-png.flaticon.com/512/166/166538.png" />
                <small>Satisfied</small>
            </div>
        </div>
        <button class="btn" id="btn">Send Review</button>
       
    
    </div>
    <script src="assets/js/contact.component.js"></script!-->
    