<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="explanation">
  <h2 class="title"></h2>
 
</div>
<div class="cards-list"> 
<div class="col-md-4" *ngFor="let produit of produit">
    
      <div class="card 0">
        <div class="card-image">
          <img [src]="produit.imageUrl" alt="{{ produit.id }}" (click)="openModal(produit)">
       </div>
       <div class="product-details">
         <h5>{{ produit.prix }}</h5>
         <p>{{ produit.description }}</p>
         <a href="https://wa.me/773869415?text=Bonjour,%20j'aimerais%20en%20savoir%20plus%20sur%20vos%20services."
           class="btn btn-success"><i class="fa fa-whatsapp" style="font-size:24px"></i> WhatsApp</a>
       </div>
      </div>
   

      </div>

     
      
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173039883-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-173039883-1');
    </script>

</html>

