
<div class="preload" data-preload>
    <div class="circle"></div>
    <p class="word">Menuisier Sehraoui</p>
</div>
   <div class="topbar">
        <div class="container">
            <address class="topbar-item">
                <div class="icon">
                    <ion-icon name="node_modules/ionicons/dist/svg/location-outline.svg" aria-hidden="true"></ion-icon>
                </div>
                <span class="span">Menuisier Sehraoui, Casablanca Ain chok, MAROC</span>
            </address>
        <div class="separator"></div>
        <div class="topbar-item item-2">
            <div class="icon">
                <ion-icon name="node_modules/ionicons/dist/svg/time-outline" aria-hidden="true"></ion-icon>
            </div>
            <span class="span">Daily : 9.00 am to 22.00 pm</span>
        </div>
        <a href="tel:+212773869415" class="topbar-item link">
            <div class="icon"><ion-icon name="node_modules/ionicons/dist/svg/call-outline" aria-hidden="true"></ion-icon></div>
            <span class="span">+212 773 86 94 15</span>
        </a>
        <div class="separator"></div>
        <a href="mailto:menuisiersehraoui@gmail.com" class="topbar-item link">
            <div class="icon"><ion-icon name="node_modules/ionicons/dist/svg/mail-outline" aria-hidden="true"></ion-icon></div>
            <span class="span">menuisiersehraoui/gmail</span>
        </a>
        </div>
    </div>
    <header class="header" data-header>
    <div class="container">
        <a href="#" class="logo">
            <img src="assets/images/Lo.png" width="100" height="100" alt="Menuisier Sehraoui">
        </a>
        <nav class="navbar " data-navbar>
            <button class="close-btn" aria-label="close menu" data-nav-toggler>
                <ion-icon name="node_modules/ionicons/dist/svg/close-outline" aria-hidden="true"></ion-icon>
            </button>
            <a href="#" class="logo">
                <img src="assets/images/Lo.png" width="100" height="90" alt="Menuisier Sehraoui">
            </a>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#home" class="navbar-link hover-underline active">
                    <div class="separator"></div>
                    <span class="span">Home</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#service" class="navbar-link hover-underline">
                    <div class="separator"></div>
                    <span class="span">Categories</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#about" class="navbar-link hover-underline ">
                    <div class="separator"></div>
                    <span class="span">About Us</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#features" class="navbar-link hover-underline ">
                    <div class="separator"></div>
                    <span class="span">Nos Atouts</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#contact" class="navbar-link hover-underline ">
                    <div class="separator"></div>
                    <span class="span">Contact</span></a>
                </li>
            </ul>
            <div class="text-center">
                <p class="headline-1 navbar-title">Visitez Nous</p>
                <address class="body-4">
                  Menuisier Sehraoui,Casablanca Ain Chok, MAROC<br>
                
                </address>
                <p class="body-4 navbar-text">Open : 9.00 am - 12.00pm </p>
                <a href="mail:menuisiersehraoui@gmail.com" class="body-4 sidebar-link">menuisiersehraoui/gmail</a>
                <div class="separator"></div>
                <p class="contact-label">Menuisier Sehraoui Appeler</p>
                <a href="tel:+91-987-654-3210" class="body-1 contact-number hover-underline">+212 773 86 94 15</a>
            </div>
        </nav>
        <a href="/rendezvouslist" class="btn btn-secondary">
            <span class="text text-1">Rendez-vous</span>
            <span class="text text-2" aria-hidden="true">Rendez-vous  </span>
        </a>
        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>
        <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
    </header>
    <main>
        <article>
            <section class="main text-center" aria-label="home" id="home">
                <ul class="main-slider" data-main-slider>
                    <li class="slider-item active" data-main-slider-item>
                        <div class="slider-bg">
                            <img src="assets/images/int.jpg" width="1360" height="950" alt="" class="img-cover">
                        </div>
                        <p class="label-2 section-subtitle slider-reveal heading" >Design Vision</p>
                        <h1 class="display-1 main-title slider-reveal">
                            For the Love of  <br>
                            Interior Design 
                        </h1>
                        <p class="body-2 main-text slider-reveal">L'art de créer des espaces qui nourrissent l'âme et stimulent l'esprit </p>
                        <a href="/ajouter-produit" class="btn btn-primary slider-reveal">
                            <span class="text text-1">Ajouter Produit</span>
                            <span class="text text-2" aria-hidden="true">Ajouter</span>
                        </a>
                    </li>
                    <li class="slider-item" data-main-slider-item>
                        <div class="slider-bg">
                            <img src="assets/images/sofa.jpg" width="1360" height="950" alt="" class="img-cover">
                        </div>
                        <p class="label-2 section-subtitle slider-reveal heading">Wonderful Experience</p>
                        <h1 class="display-1 main-title slider-reveal">
                            For the Love of  <br>
                            Interior Design 
                        </h1>
                        <p class="body-2 main-text slider-reveal">L'art de créer des espaces qui nourrissent l'âme et stimulent l'esprit </p>
                        <a href="/ajouter-produit" class="btn btn-primary slider-reveal">
                            <span class="text text-1">Ajouter Produit</span>
                            <span class="text text-2" aria-hidden="true">Ajouter</span>
                        </a>
                    </li>
                    <li class="slider-item" data-main-slider-item>
                        <div class="slider-bg">
                            <img src="assets/images/inter.jpg" width="1360" height="950" alt="" class="img-cover">
                        </div>
                        <p class="label-2 section-subtitle slider-reveal heading">Amazing & Design</p>
                        <h1 class="display-1 main-title slider-reveal">
                            For the Love of  <br>
                            Interior Design 
                        </h1>
                        <p class="body-2 main-text slider-reveal">L'art de créer des espaces qui nourrissent l'âme et stimulent l'esprit </p>
                        <a href="/ajouter-produit" class="btn btn-primary slider-reveal">
                            <span class="text text-1">Ajouter Produit</span>
                            <span class="text text-2" aria-hidden="true">Ajouter</span>
                        </a>
                    </li>
                    <li class="slider-item" data-main-slider-item>
                        <div class="slider-bg">
                            <img src="assets/images/ai.png" width="1360" height="950" alt="" class="img-cover">
                        </div>
                        <p class="label-2 section-subtitle slider-reveal heading">Joyful Experience</p>
                        <h1 class="display-1 main-title slider-reveal">
                            For the Love of  <br>
                            Interior Design 
                        </h1>
                        <p class="body-2 main-text slider-reveal">L'art de créer des espaces qui nourrissent l'âme et stimulent l'esprit </p>
                        <a href="/ajouter-produit" class="btn btn-primary slider-reveal">
                            <span class="text text-1">Ajouter Produit</span>
                            <span class="text text-2" aria-hidden="true">Ajouter</span>
                        </a>
                    </li>
                </ul>
                <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
                    <ion-icon name="node_modules/ionicons/dist/svg/chevron-back"></ion-icon>
                </button>
                <button class="slider-btn next" aria-label="slide to next" data-next-btn>
                    <ion-icon name="node_modules/ionicons/dist/svg/chevron-forward"></ion-icon>
                </button>
                <a href="#contact" class="main-btn has-after">
                    <img src="assets/images/Lo.png" width="48" height="48" alt="booking icon">
                    <span class="label-2 text-center span">Rendez-vous </span>
                </a>
            </section>
            <section class="section service bg-black-10 text-center" aria-label="service" id="service">
                <div class="container">
                    <p class="section-subtitle label-2">Menuisier Sehraoui </p>
                    <h2 class="headline-1 section-title">Nous offrons des catégories </h2>
                    <p class="section-text">
                        Découvrez nos  catégories principales qui définissent l'excellence du design intérieur chez Menuisier Sehraoui.
                        Explorez chacune de ces catégories pour trouver des pièces uniques qui transformeront votre intérieur en un espace à la fois beau et fonctionnel.
                    </p>
                    <ul class="grid-list">
                        <li>
                            <div class="service-card">
                                <a href="#catégories" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width:285;--height:336;">
                                        <img src="assets/images/Armchair.jpeg" alt="sofa" width="285" height="336" loading="lazy" class="img-cover">
                                    </figure>
                                </a>
                                <div class="card-content">
                                    <h3 class="title-4 card-title">
                                        <a href="#">Fauteuils </a>
                                    </h3>
                                    <a href="/fautlistadmin" class="btn-text hover-underline label-2">View other</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width:285;--height:336;">
                                        <img src="assets/images/Joel.jpeg" alt="Table" width="285" height="336" loading="lazy" class="img-cover">
                                    </figure>
                                </a>
                                <div class="card-content">
                                    <h3 class="title-4 card-title">
                                        <a href="#">Tables</a>
                                    </h3>
                                    <a href="/tablistadmin" class="btn-text hover-underline label-2">View other</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <a href="#catégories" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width:285;--height:336;">
                                        <img src="assets/images/brands.jpeg" alt="Startes" width="285" height="336" loading="lazy" class="img-cover">
                                    </figure>
                                </a>
                                <div class="card-content">
                                    <h3 class="title-4 card-title">
                                        <a href="#">Portes</a>
                                    </h3>
                                    <a href="/portlistadmin" class="btn-text hover-underline label-2">View other</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width:285;--height:336;">
                                        <img src="assets/images/Dre2.jpeg" alt="Startes" width="285" height="336" loading="lazy" class="img-cover">
                                    </figure>
                                </a>
                                <div class="card-content">
                                    <h3 class="title-4 card-title">
                                        <a href="#">Dressings-Placards</a>
                                    </h3>
                                    <a href="/dreslistadmin" class="btn-text hover-underline label-2">View other</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width:285;--height:336;">
                                        <img src="assets/images/bard.jpg" alt="Startes" width="285" height="336" loading="lazy" class="img-cover">
                                    </figure>
                                </a>
                                <div class="card-content">
                                    <h3 class="title-4 card-title">
                                        <a href="#">Bardage</a>
                                    </h3>
                                    <a href="/bardlistadmin" class="btn-text hover-underline label-2">View other</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width:285;--height:336;">
                                        <img src="assets/images/vas.jpg" alt="Startes" width="285" height="336" loading="lazy" class="img-cover">
                                    </figure>
                                </a>
                                <div class="card-content">
                                    <h3 class="title-4 card-title">
                                        <a href="#">Vasques</a>
                                    </h3>
                                    <a href="/vasquelistadmin" class="btn-text hover-underline label-2">View other</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section about text-center" aria-labelledby="about-label" id="about">
                <div class="container">
                    <div class="about-content">
                        <p class="label-2 section-subtitle" id="about-label">About Us</p>
                        <h2 class="headline-1 section-subtitle" style="color: white;">Chaque saveur raconte une histoire</h2>
                        <p class="section-text">Bienvenue chez Menuisier Sehraoui, votre expert en décoration d'intérieur et en fabrication artisanale de meubles. Spécialisés dans la création de fauteuils, salons et tables, nous transformons chaque espace en une œuvre d'art unique. Grâce à notre savoir-faire exceptionnel et à notre attention méticuleuse aux détails, nous concevons des pièces qui allient esthétique et fonctionnalité. Que vous recherchiez des designs modernes ou traditionnels, notre équipe dédiée est prête à réaliser vos rêves de décoration intérieure. Faites confiance à Menuisier Sehraoui pour apporter élégance et confort à votre maison.
                        </p>
                       
                        
                    </div>
                    <figure class="about-banner">
                        <img src="assets/images/rend.jpg" alt="about banner" width="570" height="570" loading="lazy" class="w-100" data-parallax-item data-parallax-speed="1">
                        <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
                            <img src="assets/images/way.jpg" alt="" class="w-100" width="285" height="285" loading="lazy">
                        </div>
                        <div class="abs-img abs-img-2 has-before">
                            <img src="assets/images/Lo.png" alt="" width="133" height="134" loading="lazy">
                        </div>
                    </figure>
                </div>
            </section>
            <section class="special-dish text-center" aria-labelledby="dish-label">
                <div class="special-dish-banner">
                    <video class="img-cover" width="940" height="900"  autoplay loop muted playsinline loading="lazy">
                        <source src="assets/images/pint.mp4" type="video/mp4">
                        
                    </video>
                </div>
                <div class="special-dish-content bg-black-10">
                    <div class="container">
                        <p class="section-subtitle label-2">Célèbres Salons</p>
                        <h2 class="headline-1 section-title">Salons Marocains</h2>
                        <p class="section-text">Découvrez l'élégance des salons marocains modernes et traditionnels, où le design contemporain rencontre le charme authentique du Maroc. Nos salons allient lignes épurées, couleurs neutres et matériaux luxueux, avec des touches de motifs géométriques et floraux, des lanternes ciselées, et des tapis berbères. Plongez dans une ambiance chaleureuse et raffinée, où chaque détail, des coussins brodés aux zelliges colorés, est conçu pour offrir un espace de vie confortable et sophistiqué. Adoptez le meilleur de l'artisanat marocain pour un intérieur unique et accueillant.</p>
                        <div class="wrapper">
                            <del class="del body-3">à partir de</del>
                            <span class="span body-1">10000 DH/-</span>
                        </div>
                        <a href="/salonlistadmin" class="btn btn-primary">
                            <span class="text text-1">Consulter</span>
                            <span class="text text-2" aria-hidden="true">Consulter</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="section about text-center" aria-labelledby="about-label" id="about">
                <div class="container">
                    <div class="about-content">
                        <p class="label-2 section-subtitle" id="about-label">Célèbres Cuisines</p>
                        <h2 class="headline-1 section-subtitle" style="color: white;">Cuisines Marocaines Modernes</h2>
                        <p class="section-text">Bienvenue chez Menuisier Sehraoui, votre expert en installation de cuisines marocaines modernes.
                            Nos cuisines combinent le charme authentique du design marocain avec les fonctionnalités et l'élégance du style contemporain. Chaque cuisine est conçue sur mesure, avec des matériaux de qualité supérieure et une attention particulière aux détails. Nous créons des espaces qui reflètent l’art de vivre marocain tout en répondant aux besoins pratiques et esthétiques de la vie moderne.
                            </p>


                            <div class="wrapper">
                                <del class="del body-3">à partir de</del>
                                <span class="span body-1">10000 DH/-</span>
                            </div>
                            <a href="/cuilistadmin" class="btn btn-primary">
                                <span class="text text-1">Consulter</span>
                                <span class="text text-2" aria-hidden="true">Consulter</span>
                            </a>
                    </div>
                    <figure class="about-banner">
                        <video class="img-cover" width="940" height="900"  autoplay loop  playsinline loading="lazy">
                            <source src="assets/images/cus3.mp4" type="video/mp4">
                            
                        </video> 
                       
                        <div class="abs-img abs-img-2 has-before">
                            <img src="assets/images/Lo.png" alt="" width="133" height="134" loading="lazy">
                        </div>
                    </figure>
                </div>
            </section>
            <section class="special-dish text-center" aria-labelledby="dish-label">
                <div class="special-dish-banner">
                    <img src="assets/images/Modern Bedroom.jpeg" alt="special dish" class="img-cover" width="940" height="900" loading="lazy">
                </div>
                <div class="special-dish-content bg-black-10">
                    <div class="container">
                        <p class="section-subtitle label-2">Chambre à coucher</p>
                        <h2 class="headline-1 section-title">Chambres</h2>
                        <p class="section-text"> La chambre à coucher est un espace intime dédié au repos et à la relaxation. Chez Menuisier Sehraoui, nous créons des chambres à coucher sur mesure, alliant confort et esthétique. Nos créations incluent des meubles élégants et fonctionnels, conçus pour optimiser l'espace et refléter vos goûts personnels. Que vous préfériez un style traditionnel ou moderne, nous mettons notre expertise artisanale à votre service pour aménager une chambre à coucher qui vous ressemble.</p>
                        <div class="wrapper">
                            <del class="del body-3">à partir de</del>
                            <span class="span body-1">10000 DH/-</span>
                        </div>
                        <a href="/chamblistadmin" class="btn btn-primary">
                            <span class="text text-1">Consulter</span>
                            <span class="text text-2" aria-hidden="true">Consulter</span>
                        </a>
                    </div>
                </div>
            </section>
           
            <section class="section testi text-center has-bg-image" style="background-image: url('assets/images/Modern.jpeg')" aria-label="testimonials">
                <div class="container">
                    
                    <p class="headline-2 testi-text">
                        Transformez votre intérieur avec des meubles sur mesure alliant tradition et élégance.
                    </p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <div class="profile">
                        <img src="assets/images/Lo.png" alt="Pathma Priya" width="100" height="100" loading="lazy" class="img">
                        <p class="label-2 profile-name">Menuisier Sehraoui</p>
                    </div>
                </div>
            </section>
            
            <section class="section features text-center" aria-label="features" id="features">
                <div class="container">
                    <p class="section-subtitle label-2">Nos Spécifications</p>
                    <h2 class="headline-1 section-title">Nos Atouts</h2>
                    <ul class="grid-list">
                        <li class="feature-item">
                            <div class="feature-card">
                                <div class="card-icon">
                                    <img src="assets/images/ic1.png" alt="icon" width="100" height="80" loading="lazy">
                                </div>
                                <h3 class="title-2 card-title">Expertise Artisanale</h3>
                                <p class="label-1 card-text">Maîtrise des techniques artisanales marocaines pour créer des espaces authentiques, avec des meubles sur mesure adaptés aux besoins de chaque client.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-card">
                                <div class="card-icon">
                                    <img src="assets/images/ic4.png" alt="icon" width="100" height="80" loading="lazy" class="restaurant-icon">
                                </div>
                                <h3 class="title-2 card-title">Matériaux de Qualité</h3>
                                <p class="label-1 card-text">Utilisation de matériaux nobles et durables tels que le bois massif et le zellige, avec des finitions soignées pour garantir une qualité esthétique et fonctionnelle exceptionnelle.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-card">
                                <div class="card-icon">
                                    <img src="assets/images/ic2.png" alt="icon" width="100" height="80" loading="lazy" class="chef-icon">
                                </div>
                                <h3 class="title-2 card-title">Design Personnalisé</h3>
                                <p class="label-1 card-text">Fusion du style traditionnel marocain avec des éléments modernes pour créer des intérieurs uniques, adaptés aux goûts et au mode de vie de chaque client.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-card">
                                <div class="card-icon">
                                    <img src="assets/images/ic3.png" alt="icon" width="100" height="80" loading="lazy" class="party-icon">
                                </div>
                                <h3 class="title-2 card-title">Fiabilité et Réputation</h3>
                                <p class="label-1 card-text">Portefeuille de projets réussis attestant de la qualité et du sérieux de l'entreprise, avec un engagement constant à respecter les délais et les standards de qualité.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
           
        </article>
    </main>
    <footer class="footer section has-bg-image text-center">
        <div class="container">
            <div class="footer-top grid-list">
                <div class="footer-brand has-before has-after">
                    <a href="#" class="logo">
                        <img src="assets/images/Lo.png" alt="ZamzamHome" width="160" height="50" loading="lazy">
                    </a>
                    <p class="body-4">
                        L'art de créer des espaces qui nourrissent l'âme et stimulent l'esprit
                    </p>
                    <a href="mailto:menuisiersehraoui@gmail.com" class="body-4 contact-link">menuisiersehraoui/gmail</a>
                   
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <p class="title-1">Menuisier Sehraoui</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <p class="span">
                        Espace réservé à l'administrateur 
                    </p>
                   
                </div>
                <ul class="footer-list">
                    <li>
                        <a href="#home" class="label-2 footer-link hover-underline">Home</a>
                    </li>
                   
                    <li>
                        <a href="#about" class="label-2 footer-link hover-underline">About Us</a>
                    </li>
                    <li>
                        <a href="#service" class="label-2 footer-link hover-underline">Nos Catégories</a>
                    </li>
                    <li>
                        <a href="#contact" class="label-2 footer-link hover-underline">Contact</a>
                    </li>
                </ul>
                <ul class="footer-list">
                    <li>
                        <a href="https://www.instagram.com/menuisier_sehraoui?igsh=aTV3NG9xNWU2ajRs" class="label-2 footer-link hover-underline">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61552363693154&mibextid=LQQJ4d" class="label-2 footer-link hover-underline">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@menuisiersehraoui?_t=8omgX3iKA3Z&_r=1" class="label-2 footer-link hover-underline">TikTok</a>
                    </li>
                    <!--li>
                        <a href="#" class="label-2 footer-link hover-underline">Youtube</a>
                    </li>
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">Google Map</a>
                    </li-->
                </ul>
            </div>
            
        </div>
        </footer>
        <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
            <ion-icon name="node_modules/ionicons/dist/svg/chevron-up" aria-hidden="true"></ion-icon>
        </a>
